body {
    background: #f8f6f6;
    cursor: crosshair;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    background-color: #f0f0f0;
}

h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 7em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff);
    background-size: 200% 200%;
    -webkit-background-clip: text; /* Clipping văn bản vào gradient */
    -webkit-text-fill-color: transparent; /* Điều chỉnh màu của văn bản thành trong suốt */
    animation: h1 2s ease infinite;
}
@keyframes h1 {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#letter-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #f5f8f9;
    color: #0e0303;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

#letter-container2{
    margin-top: 99px;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 290px solid transparent;
    border-right:290px solid transparent;
    border-top: 80px solid #ffacac;
    transition: opacity 1s ease-in-out; 

}

#letter-content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

p {
    font-size: 11px;
    font-family: sans-serif;
    color: rgb(87, 87, 87);
}

i {
    font-size: 11px;
    font-family: sans-serif;
    margin-left: 40px;
    color: rgb(87, 87, 87);
}

b {
    font-size: 11px;
    font-family: sans-serif;
    margin-left: 90px;
    color: rgb(87, 87, 87);
}

#open-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 10px; 
}
.heart-icon {
    width: 60px;
    height: 60px;
    fill: rgb(255, 88, 88); /* Màu sắc của trái tim */
  }